<% include ../partials/header.ejs %>

<div class="viewport-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="mt-3">Template</h3>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->

<% include ../partials/footer.ejs %>